<tr>
  <td><%= booking.booking_date %></td>
  <td><%= booking.booking_time %></td>
  <td><%= booking.arrival_date %></td>
  <td><%= booking.departure_date %></td>
  <td><%= booking.num_of_adults %></td>
  <td><%= booking.num_of_childrens %></td>
  <td><%= booking.special_request_from_client %></td>
  <td><%= booking.room_id %></td>
</tr>
