<div id="<%= dom_id room %>" class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://via.placeholder.com/200x100.png?text=Room+placeholder+image" alt="Sunset in the mountains">
  <p class="px-6 py-4">
    <strong class="block font-medium mb-1">Occupancy:</strong>
    <%= room.occupancy %>
  </p>

  <p class="px-6 py-4">
    <strong class="block font-medium mb-1">Room type:</strong>
    <%= room.room_type_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this room", room, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <%= link_to 'Edit this room', edit_room_path(room), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
