<div id="<%= dom_id hotel %>" class="grid grid-cols-2 gap-4">
  <div>
    <% if hotel.avatar %>
      <%= image_tag(hotel.avatar) %>
    <% else %>
      <img class="p-8 rounded-t-lg" src="/assets/product-1.png" alt="product image">
    <% end %>
  </div>

  <div class="col-auto">
    <p class="my-5">
      <strong class="block font-medium mb-1">Hotel name:</strong>
      <%= hotel.hotel_name %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Address:</strong>
      <%= hotel.address %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Postal code:</strong>
      <%= hotel.postal_code %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">City:</strong>
      <%= hotel.city %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Country:</strong>
      <%= hotel.country %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Number of rooms:</strong>
      <%= hotel.number_of_rooms %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Phone number:</strong>
      <%= hotel.phone_number %>
    </p>
    <p class="my-5">
      <strong class="block font-medium mb-1">Star rating:</strong>
      <%= hotel.star_rating %>
    </p>
    <% if action_name != "show" %>
      <%= link_to "Show this hotel", hotel, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%# link_to 'Edit this hotel', edit_hotel_path(hotel), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>

